@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../assets/flaticons/flaticon_mycollection.css";
@import "react-toastify/dist/ReactToastify.css";

.chat-container{
  box-shadow: 0px 4px 79px 6px rgba(0, 0, 0, 0.1);

}
.title-container input[type="text"]::placeholder,.location-container input[type="text"]::placeholder,.textarea-container textarea::placeholder{
  font-size: small;
}
.comment-placeholder input[type="text"]::placeholder{
  font-size: medium;
}
@media screen and (max-width: 768px) {
  .comment-placeholder input[type="text"]::placeholder{
    font-size: small;
  }
}
.msg-container input[type="text"]::placeholder{
  color: #FFFFFF;
  font-size: small;
}
.post-cont input[type="text"]::placeholder{
  font-size: small;

}
.search-container input[type="text"]::placeholder{
color:#5c636a;
  font-size: medium;
  font-weight: 400;
}

.percentage-placeholder input[type="text"]::placeholder{
  color:#9bb7d3;
    font-size: medium;
    font-weight: 600;
  }
  .no-scroll {
    overflow: hidden;
  }
  .header-search-conatiner input[type="text"]::placeholder{
    color:#ced3d8;
    
    font-size: 14px;
    font-weight: 400;
  }
/* text-[#9bb7d3] */
.textarea-container textarea,.business-account-desc textarea{
  resize: none;
}
.profile-desc textarea{
  resize: none;
}
.breathing-animation {
  animation: breathe 2s infinite ease-in-out;
}


  .dot-black .slick-dots li button {
    background-color: black;
    bottom: -2rem;
  }
  .dot-black .slick-dots li.slick-active button {
    background-color: black; 
  }


  .dot-white .slick-dots li button {
    background-color: white;
    bottom: -1rem;
  }
  .dot-white .slick-dots li.slick-active button {
    background-color: white; 
  }


  .spinner {
    position: relative;
    width: 15.7px;
    height: 15.7px;
  }
  
  .spinner div {
    animation: spinner-4t3wzl 1.5s infinite backwards;
    background-color: #000000;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .spinner div:nth-child(1) {
    animation-delay: 0.12s;
    background-color: rgba(0,0,0,0.9);
  }
  
  .spinner div:nth-child(2) {
    animation-delay: 0.24s;
    background-color: rgba(0,0,0,0.8);
  }
  
  .spinner div:nth-child(3) {
    animation-delay: 0.36000000000000004s;
    background-color: rgba(0,0,0,0.7);
  }
  
  .spinner div:nth-child(4) {
    animation-delay: 0.48s;
    background-color: rgba(0,0,0,0.6);
  }
  
  .spinner div:nth-child(5) {
    animation-delay: 0.6000000000000001s;
    background-color: rgba(0,0,0,0.5);
  }
  
  @keyframes spinner-4t3wzl {
    0% {
       transform: rotate(0deg) translateY(-200%);
    }
  
    60%, 100% {
       transform: rotate(360deg) translateY(-200%);
    }
  }
  .overflow-y-scroll::-webkit-scrollbar {
    width: 6px;
  }

  .overflow-y-scroll::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 6px;
  }

  .overflow-y-scroll::-webkit-scrollbar-track {
    background-color: #F3F7FA;
    border-radius: 6px;
  }

 

/* text-[#9bb7d3] */
