@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../assets/flaticons/flaticon_mycollection.css";

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.chat-container{
  box-shadow: 0px 4px 79px 6px rgba(0, 0, 0, 0.4);

}
.msg-container input[type="text"]::placeholder{
  color: #FFFFFF;
  font-size: small;
}
.search-container input[type="text"]::placeholder{
color:#5c636a;
  font-size: medium;
  font-weight: 400;
}

.percentage-placeholder input[type="text"]::placeholder{
  color:#9bb7d3;
    font-size: medium;
    font-weight: 600;
  }

/* text-[#9bb7d3] */