@font-face {
    font-family: "flaticon_mycollection";
    src: url("./flaticon_mycollection.ttf?dfaf2feaa68d819e9bd6aca560b5ece8") format("truetype"),
url("./flaticon_mycollection.woff?dfaf2feaa68d819e9bd6aca560b5ece8") format("woff"),
url("./flaticon_mycollection.woff2?dfaf2feaa68d819e9bd6aca560b5ece8") format("woff2"),
url("./flaticon_mycollection.eot?dfaf2feaa68d819e9bd6aca560b5ece8#iefix") format("embedded-opentype"),
url("./flaticon_mycollection.svg?dfaf2feaa68d819e9bd6aca560b5ece8#flaticon_mycollection") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-notification:before {
    content: "\f101";
}
.flaticon-add-user:before {
    content: "\f102";
}
.flaticon-user:before {
    content: "\f103";
}
.flaticon-readed:before {
    content: "\f104";
}
.flaticon-post:before {
    content: "\f105";
}
.flaticon-play:before {
    content: "\f106";
}
.flaticon-phone:before {
    content: "\f107";
}
.flaticon-options:before {
    content: "\f108";
}
.flaticon-instagram:before {
    content: "\f109";
}
.flaticon-healthcare:before {
    content: "\f10a";
}
.flaticon-calander:before {
    content: "\f10b";
}
.flaticon-office:before {
    content: "\f10c";
}
.flaticon-arrow-right:before {
    content: "\f10d";
}
.flaticon-twitter-1:before {
    content: "\f10e";
}
.flaticon-twitter:before {
    content: "\f10f";
}
.flaticon-travel:before {
    content: "\f110";
}
.flaticon-technology:before {
    content: "\f111";
}
.flaticon-support:before {
    content: "\f112";
}
.flaticon-setting:before {
    content: "\f113";
}
.flaticon-send:before {
    content: "\f114";
}
.flaticon-bookmark:before {
    content: "\f115";
}
.flaticon-plus:before {
    content: "\f116";
}
.flaticon-clock:before {
    content: "\f117";
}
.flaticon-close:before {
    content: "\f118";
}
.flaticon-help-1:before {
    content: "\f119";
}
.flaticon-email:before {
    content: "\f11a";
}
.flaticon-entertainment:before {
    content: "\f11b";
}
.flaticon-food:before {
    content: "\f11c";
}
.flaticon-industries:before {
    content: "\f11d";
}
.flaticon-linkedin:before {
    content: "\f11e";
}
.flaticon-down-right-2:before {
    content: "\f11f";
}
.flaticon-map:before {
    content: "\f120";
}
.flaticon-education:before {
    content: "\f121";
}
.flaticon-help:before {
    content: "\f122";
}
.flaticon-heart:before {
    content: "\f123";
}
.flaticon-edit:before {
    content: "\f124";
}
.flaticon-fintech:before {
    content: "\f125";
}
.flaticon-down-arrow:before {
    content: "\f126";
}
.flaticon-placeholder:before {
    content: "\f127";
}
.flaticon-location:before {
    content: "\f128";
}
.flaticon-chat:before {
    content: "\f129";
}
.flaticon-exit:before {
    content: "\f12a";
}
.flaticon-verify:before {
    content: "\f12b";
}
.flaticon-notificaiton:before {
    content: "\f12c";
}
.flaticon-search:before {
    content: "\f12d";
}
.flaticon-realestate:before {
    content: "\f12e";
}
